{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
      <div class="layout__box">
        
        <div class="layout__body">
          <form class="form" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
              {{field|as_crispy_field}}
            </div>
            {% endfor %}
            <div class="form__action">
              <a class="btn btn--dark" href="{% url 'user-profile' user.id %}">Cancel</a>
              <button class="theme-button" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}