{% extends 'main.html' %}

<style>
    .center-div {
        margin: auto;
        width: 50%;
        
    }
</style>

{% load crispy_forms_tags %}

{%block content%}
    <div class="center-div">
        <form method = "POST" action = "">
            {% csrf_token %}
            <div class="form-group">
                {{form.name|as_crispy_field}}
            </div>
    
            <div class="form-group">
                {{form.description|as_crispy_field}}
            </div>

            <div class="form-group">
                {{form.privacy|as_crispy_field}}
            </div>
            <input type="submit" value="Submit" />    
        </form>
    </div>
    
{%endblock%}